// Imports and Variables

@import "reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

// Primary

$violet: hsl(263, 55%, 52%);
$grayish-blue: hsl(217, 19%, 35%);
$blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

// Neutral

$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

// Main SCSS

body {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;

  font-size: 13px;
  font-weight: 500;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: $light-grayish-blue;
}

.container-outer {
  max-width: 75rem;
  margin: auto;
}

.container-testimonial {
  margin: 1rem;
  padding: 2rem;
  color: $white;

  border-radius: 10px;
  box-shadow: 1px 3px 5px 1px rgba($color: #000000, $alpha: 0.2);
}

.student-profile {
  margin-bottom: 1rem;
  display: flex;
  img {
    border-radius: 100%;
    height: 2rem;
    margin-right: 1.5rem;
  }
  p {
    opacity: 1;
    span {
      display: block;
      opacity: 0.5;
    }
  }
}
.testimonial-text.para {
  opacity: 0.7;
}
.testimonial-text.tagline {
  display: block;
  margin-bottom: 1rem;

  font-size: 1.4em;
  font-weight: 600;
  opacity: 0.9;
}

// Styling for individual testimonials
.container-testimonial {
  &:nth-child(1) {
    grid-area: one;
    color: $white;
    background-color: $violet;

    background-image: url("/images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position-x: 80%;
  }
  &:nth-child(2) {
    grid-area: two;
    background-color: $grayish-blue;
  }
  &:nth-child(3) {
    grid-area: three;
    color: $blackish-blue;
    background-color: $white;
  }
  &:nth-child(4) {
    grid-area: four;
    background-color: $blackish-blue;
  }
  &:nth-child(5) {
    grid-area: five;
    color: $blackish-blue;
    background-color: $white;
  }
}

// FOOTER

.attribution {
  margin: auto auto 1em auto;
  text-align: center;
  ul {
    margin-top: 1em;
    li {
      display: inline-block;
      margin: auto 1em;
    }
  }
}

// GRID / MEDIA QUERIES

@media screen and (min-width: 600px) {
  .container-outer {
    display: grid;
    grid-template-areas:
      "one one two"
      "three four four"
      "five five five";
  }
}

@media screen and (min-width: 920px) {
  .container-outer {
    display: grid;
    grid-template-areas:
      "one one one two five"
      "three four four four five";
  }
}
