@import "_variables";
@import "fontawesome/fontawesome.scss";
@import "./fontawesome/brands.scss";

.footer {
  padding-bottom: 2rem;
  background-color: hsl(168, 34%, 70%);
  color: $dark-desat-cyan;
  display: flex;
  flex-direction: column;
  img {
    width: 13rem;
    margin: 2.5rem auto 1.5rem auto;
    filter: invert(46%) sepia(48%) saturate(379%) hue-rotate(118deg)
      brightness(70%) contrast(88%);
  }
  .footer__bottom,
  .footer__sm-icons {
    max-width: 500px;
    margin: auto;
    display: flex;
    gap: 3rem;
    margin-bottom: 0.5rem;
    li {
      opacity: 0.8;
      a {
        color: $dark-desat-cyan;
      }
    }
  }
  .footer__bottom li a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .footer__sm-icons {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    gap: 1.5rem;
    i:hover {
      transition: 500ms;
      color: white;
    }
  }
}
.footer__attribution {
  margin-top: 0.5rem;
  padding: 0 2rem;
  li {
    color: $dark-desat-cyan;
    margin-bottom: 0.5rem;
    a {
      color: black;
    }
  }
}
