@import "_reset";
@import "_variables";
@import "_creatives";
@import "_transform-standout";
@import "_design-photography";
@import "_testimonials";
@import "_cta-button";
@import "_footer";

body {
  background-color: $biege;
  text-align: center;
  font-family: "Barlow", sans-serif;
}

h2 {
  font-size: 1.75rem;
  font-family: "Fraunces", serif;
  margin: 3rem auto 1rem auto;
  padding: 0 2rem;
}

p {
  color: $dark-grayish-blue;
  padding: 0 1.5rem;
}

.gallary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  img {
    width: 100%;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
  }
}
