<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" />

    <title>Frontend Mentor | Tip calculator app</title>
  </head>
  <body>
    <div id="app">
      <header>
        <h1><img src="/images/logo.svg" alt="Splitter" /></h1>
      </header>
      <main>
        <form class="calculator">
          <label for="bill">Bill</label>
          <input
            type="number"
            name="bill"
            id="bill"
            placeholder="0.00"
            v-model="bill"
          />
          <label for="custom">Select Tip %</label>
          <div class="calculator__tip-options">
            <div>
              <input
                type="radio"
                id="5"
                name="tip"
                value="5"
                v-model="tipPercent"
                @click="resetTipField"
              />
              <label for="5">5%</label>
            </div>
            <div>
              <input
                type="radio"
                id="10"
                name="tip"
                value="10"
                v-model="tipPercent"
                @click="resetTipField"
                checked
              />
              <label for="10">10%</label>
            </div>
            <div>
              <input
                type="radio"
                id="15"
                name="tip"
                value="15"
                v-model="tipPercent"
                @click="resetTipField"
              />
              <label for="15">15%</label>
            </div>
            <div>
              <input
                type="radio"
                id="25"
                name="tip"
                value="25"
                v-model="tipPercent"
                @click="resetTipField"
              />
              <label for="25">25%</label>
            </div>
            <div>
              <input
                type="radio"
                id="50"
                name="tip"
                value="50"
                v-model="tipPercent"
                @click="resetTipField"
              />
              <label for="50">50%</label>
            </div>
            <div>
              <input
                type="number"
                name="tip"
                id="custom"
                placeholder="Custom"
                v-model="tipPercentDisplay"
              />
            </div>
          </div>
          <label for="people">Number of People</label>
          <input
            type="number"
            name="people"
            id="people"
            placeholder="1"
            v-model="people"
          />
        </form>
        <section class="results">
          <div class="results__amount">
            <div class="results__amount-text">
              <h2>Tip Amount</h2>
              <p>/ person</p>
            </div>
            <p class="results__amount-number">£{{ tipAmount }}</p>
          </div>
          <div class="results__total">
            <div class="results__total-text">
              <h2>Total</h2>
              <p>/ person</p>
            </div>
            <p class="results__total-number">£{{ total }}</p>
          </div>
          <button class="results__reset" @click.prevent="reset()">Reset</button>
        </section>
      </main>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="vue/app.js"></script>
  </body>
</html>
