@import "variables";

.hero {
  padding-bottom: 4rem;
}

.hero__picture {
  margin-top: -40%;
  padding: 0 1.5rem;
  background-image: url(/images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__text > h1 {
  width: 38vw;
}
.hero__text > p {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: $desktop-breakpoint) {
  .hero {
    padding: 0;
    background-image: url(/images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto 60vw;
    background-position-x: 50vw;
    background-position-y: center;
    z-index: 0;
  }
  .hero__container {
    text-align: left;
    display: grid;
    grid-template-areas: "herotext mockup";
    overflow: visible;
    position: relative;
    height: 60vh;
    z-index: 0;
  }
  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: herotext;
    width: 50%;
  }
  .hero__picture {
    position: absolute;
    z-index: 0;
    grid-area: mockup;
    background-image: none;
    width: 50vw;
    max-width: 600px;
    right: -100%;
    padding: 0;
  }
  .hero__text > button {
    width: fit-content;
  }
}
