@import "variables";

.hero {
  padding-bottom: 4rem;
  background-color: hsl(0, 0%, 98%);
  width: 100vw;
  overflow-y: visible;
}

.hero__picture {
  margin-top: -40%;
  padding: 0 1.5rem;
  background-image: url(/images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__text > h1 {
  width: clamp(1px, 38vw, 650px);
}
.hero__text > p {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: $desktop-breakpoint) {
  .hero {
    background-image: url(/images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto 60vw;
    background-position-x: 50vw;
    background-position-y: center;
    z-index: 0;
    position: relative;
    overflow-y: visible !important;
  }
  .hero__container {
    position: relative;
    text-align: left;
    display: grid;
    grid-template-areas: "herotext mockup";
    grid-auto-columns: 1fr 1fr;
    z-index: 0;
  }
  .hero__text {
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: herotext;
  }
  .hero__picture {
    position: absolute;
    background-image: none;
    top: 10rem;
    overflow-y: visible;
    transform: translateX(100%) translateY(10rem);
  }
  .hero__text > button {
    width: fit-content;
  }
}
