/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  background-color: white;
}

header > img {
  height: 1.5rem;
}

#menu {
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: transparent;
  background-image: url("/images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#menu.active {
  background-image: url(/images/icon-close.svg);
}

nav {
  display: none;
}

button#menu.active + nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background: white;
  font-weight: 300;
  width: 85vw;
  border-radius: 7px;
  left: 50%;
  top: 6rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.25rem;
  padding: 2rem;
}

button#menu.active + nav ul li + li {
  margin-top: 1.5rem;
}

button#menu.active + nav > ul {
  margin: auto;
}

@media screen and (max-width: 800px) {
  button#menu.active + nav > ul li:last-of-type {
    display: none;
  }
}

header > button:not(#menu) {
  display: none;
}

.nav-bg {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-bg.active {
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(45, 49, 77, 0.8)), to(rgba(45, 49, 77, 0)));
    background-image: linear-gradient(to bottom, rgba(45, 49, 77, 0.8), rgba(45, 49, 77, 0));
    z-index: 0;
  }
  nav,
  header {
    z-index: 1;
  }
}

@media screen and (min-width: 800px) {
  #menu {
    display: none;
  }
  nav,
  nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    gap: 0 1rem;
  }
  nav > ul > li {
    margin: 0 auto;
    opacity: 0.6;
  }
  header > button {
    display: inline;
  }
}

.hero {
  padding-bottom: 4rem;
}

.hero__picture {
  margin-top: -40%;
  padding: 0 1.5rem;
  background-image: url(/images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__text > h1 {
  width: 38vw;
}

.hero__text > p {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 800px) {
  .hero {
    padding: 0;
    background-image: url(/images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto 60vw;
    background-position-x: 50vw;
    background-position-y: center;
    z-index: 0;
  }
  .hero__container {
    text-align: left;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "herotext mockup";
    overflow: visible;
    position: relative;
    height: 60vh;
    z-index: 0;
  }
  .hero__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: herotext;
    width: 50%;
  }
  .hero__picture {
    position: absolute;
    z-index: 0;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: mockup;
    background-image: none;
    width: 50vw;
    max-width: 600px;
    right: -100%;
    padding: 0;
  }
  .hero__text > button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.why-easybank {
  background-color: #f3f4f6;
  padding: 4rem 1rem;
}

.why-easybank__features {
  margin-top: 2rem;
}

.why-easybank__features > .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 2rem 0;
}

.why-easybank__features > .feature:last-of-type {
  margin-bottom: 0;
}

.feature > img {
  margin: 0 auto 1rem auto;
}

@media screen and (min-width: 800px) {
  .why-easybank {
    text-align: left;
  }
  .why-easybank__text > h2 {
    padding-left: 0;
  }
  .why-easybank__text > p {
    max-width: 800px;
  }
  .feature {
    text-align: left;
  }
  .feature > img {
    margin-left: 0;
  }
}

.latest-articles {
  background-color: #f7f7f7;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.latest-articles__container {
  padding: 1.5rem 0;
}

.latest-articles__container > .article {
  text-align: left;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: white;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}

.article > .article__image {
  width: 100%;
  height: 15rem;
  margin-bottom: 2rem;
  background-position: center;
  background-size: auto cover;
  background-repeat: no-repeat;
}

.article:nth-of-type(1) > .article__image {
  background-image: url(/images/image-currency.jpg);
}

.article:nth-of-type(2) > .article__image {
  background-image: url(/images/image-restaurant.jpg);
}

.article:nth-of-type(3) > .article__image {
  background-image: url(/images/image-plane.jpg);
}

.article:nth-of-type(4) > .article__image {
  background-image: url(/images/image-confetti.jpg);
}

.article *:not(.article__image) {
  padding: 0 2rem;
}

.article > p.author {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
  .latest-articles > h2 {
    text-align: left;
    padding-left: 0;
  }
}

.footer__container {
  padding: 3rem;
}

.footer__container > img {
  margin: auto;
}

.footer__container > ul {
  margin: 2rem 0;
}

.footer__container > ul li {
  color: #f3f4f6;
  margin-bottom: 1rem;
}

.footer__container > ul.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}

.footer__container > ul.socials li {
  margin: 0.5rem 0.5rem;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

.footer__container > ul.socials li img {
  height: 1.5rem;
}

.footer__container > button {
  margin-bottom: 2rem;
}

@media screen and (min-width: 800px) {
  .footer__container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "logo links request" "socials links copyright";
  }
  .footer__container > img,
  .footer__container > ul.socials,
  .footer__container > ul,
  .footer__container > button,
  .footer__container > p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer__container > img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
    margin-left: 0;
  }
  .footer__container > ul.socials {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: socials;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .footer__container > ul {
    text-align: left;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: links;
    -webkit-columns: 2;
            columns: 2;
  }
  .footer__container > ul li {
    margin-top: auto;
  }
  .footer__container > ul > li:nth-of-type(3),
  .footer__container > ul > li:nth-of-type(6) {
    margin-bottom: 0;
  }
  .footer__container > button {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: request;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0.75rem 2rem;
    margin-left: auto;
  }
  .footer__container > p {
    margin-top: auto;
    text-align: right;
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: copyright;
  }
}

body {
  font-family: "Public Sans", sans-serif;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin-bottom: 1rem;
  color: #2d314d;
}

h1 {
  font-size: clamp(2.5rem, 4vw, 4rem);
}

h2 {
  font-size: clamp(2rem, 3vw, 2.5rem);
  padding: 0 1.5rem;
}

h3 {
  font-size: clamp(1.15rem, 2vw, 1.5rem);
}

p {
  color: #9698a6;
  font-size: 1.25rem;
}

p,
ul li {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}

ul {
  list-style: none;
  padding-left: 0;
}

footer {
  background-color: #2d314d;
}

button:not(#menu) {
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  border: none;
  color: white;
  font-weight: 700;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
}

button:not(#menu):active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.hero__container,
.why-easybank__text,
.why-easybank__features,
.latest-articles__container,
.latest-articles > h2,
.footer__container {
  margin: auto;
  max-width: 1300px;
}

.latest-articles,
.why-easybank {
  padding-left: 3rem;
  padding-right: 3rem;
}

header {
  margin: auto;
  max-width: calc(1500px + 3rem);
}

.why-easybank__features,
.latest-articles__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

@media screen and (min-width: 830px) {
  .latest-articles__container,
  .why-easybank__features {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .latest-articles__container,
  .why-easybank__features {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .feature {
    text-align: left;
  }
  .feature img {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */