@import "variables";

.two {
  background-image: url("../images/mobile/image-footer.jpg");
  box-shadow: inset 0 0 0 1000px rgba($color: $cyan, $alpha: 0.8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.two > h2,
.two > p:not(.number) {
  color: white;
}

.two > button {
  width: fit-content;
  margin: auto;
  margin-bottom: 4rem;
}
