/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.calculator > label {
  font-weight: bold;
  opacity: 0.7;
  margin-bottom: 0.5rem;
}

.calculator > input,
#custom {
  width: 100%;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  color: #007980;
  background-color: #f4fafa;
  padding-right: 10px;
}

input::-webkit-input-placeholder {
  opacity: 0.5;
}

input:-ms-input-placeholder {
  opacity: 0.5;
}

input::-ms-input-placeholder {
  opacity: 0.5;
}

input::placeholder {
  opacity: 0.5;
}

.calculator > input:not(.calculator__tip-options) {
  position: relative;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 1rem;
}

input#bill {
  background-image: url(/images/icon-dollar.svg);
}

input#people {
  background-image: url(/images/icon-person.svg);
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  top: -100%;
}

.calculator__tip-options {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (minmax(110px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  grid-auto-rows: 1fr;
  margin-bottom: 2rem;
}

.calculator__tip-options * {
  font-weight: bold;
  height: 100%;
  border-radius: 5px;
}

.calculator__tip-options *:not(input) {
  color: white;
  background-color: #00494d;
  text-align: center;
  font-size: 1.5rem;
}

input[type="radio"] + label {
  padding: 0.25rem 0;
}

input[type="radio"]:checked + label {
  color: #00494d;
  background-color: #26c0ab;
}

input[type="radio"]:focus + label {
  -webkit-box-shadow: 0 0 0 3px orange;
          box-shadow: 0 0 0 3px orange;
}

.calculator__tip-options input {
  width: 100%;
  background-color: #c5e4e7;
  border: none;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  padding: 1.5rem;
}

.results__amount,
.results__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results__amount h2,
.results__total h2 {
  font-size: 1rem;
  color: white;
}

.results__amount p,
.results__total p {
  color: #7f9c9f;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.results__amount .results__amount-number,
.results__total .results__total-number {
  color: #26c0ab;
  font-weight: bold;
  font-size: clamp(2rem, 9vw, 2.75rem);
}

.results__reset {
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #00494d;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  background-color: #26c0ab;
  text-transform: uppercase;
}

@media screen and (min-width: 550px) {
  .results__reset {
    margin-top: auto;
  }
}

body {
  font-family: "Space Mono", monospace;
  background-color: #c5e4e7;
}

#app {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  padding-top: 2.5rem;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: clamp(2.5rem, 9vw, 5.5rem);
}

main {
  margin: 0;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1.25rem 1.25rem 0 0;
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  -ms-grid-columns: (minmax(275px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  max-width: 800px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 620px) {
  main {
    margin-bottom: auto;
    border-radius: 1.25rem;
  }
}

section {
  background-color: #00494d;
  border-radius: 1rem;
  width: 100%;
}

form label {
  color: #44595a;
  display: block;
}
/*# sourceMappingURL=style.css.map */