@import "reset";
@import "variables";
@import "calculator";
@import "results";

body {
  font-family: "Space Mono", monospace;
  background-color: $light-grayish-cyan;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding-top: 2.5rem;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: clamp(2.5rem, 9vw, 5.5rem);
}

main {
  margin: 0;
  background-color: $white;
  padding: 1.5rem;
  border-radius: 1.25rem 1.25rem 0 0;

  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  max-width: 800px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: $desktop-breakpoint) {
    margin-bottom: auto;
    border-radius: 1.25rem;
  }
}

section {
  background-color: $very-dark-cyan;
  border-radius: 1rem;
  width: 100%;
}

form label {
  color: darken($grayish-cyan, 25%);
  display: block;
}
