@import "variables";

footer {
  padding-top: 3rem;
  margin-top: 5rem;
  padding-bottom: 2rem;
  color: $grayish-blue;
  background-color: $v-dark-black-blue;
  border-radius: 0 15vw 0 0;
  img {
    width: 8rem;
    margin: 3rem auto 2rem auto;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
footer li:first-of-type {
  color: $white;
  font-weight: bold;
  margin: 1.5rem;
}

footer li:not(li:first-of-type) {
  color: rgba($color: $white, $alpha: 0.8);
  padding: 0.35rem;
  position: relative;
  cursor: pointer;
  &:hover {
    color: $white;
  }
  &::after {
    content: "";
    position: absolute;
    width: 5rem;
    margin: auto;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    @media screen and (min-width: $desktop-breakpoint) {
      right: auto;
    }
  }
  &:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  footer {
    border-radius: 0 8vw 0 0;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-areas: "logo col2 col3 col4";
    img {
      grid-area: logo;
    }
  }
  footer img,
  footer ul {
    margin-top: 0;
    text-align: left;
    justify-content: flex-start;
  }
  footer li:first-of-type {
    margin: 0 0 1rem 0;
  }
  footer li:not(li:first-of-type) {
    padding-left: 0;
    margin-bottom: 0.5rem;
  }
}
