@import "_variables";

.dark-blue-infrastructure {
  margin-top: 17rem;
  margin-bottom: 3rem;

  border-radius: 0 25% 0 25%;
  color: white;
  background: $bg-gradient-dark;

  background: url("/images/bg-pattern-circles.svg"), $bg-gradient-dark;
  background-repeat: no-repeat;
  background-size: 35rem, auto;
  background-position: fixed;
  background-position-x: center, center;
  background-position-y: -12rem, center;

  .container {
  }
  h1 {
  }
  p {
    color: white;
  }
  img {
    position: relative;
    transform: translateY(-50%);
  }
  .section {
    margin-top: -15rem;
    margin-bottom: 5rem;
  }
}
