@import "variables";

@media screen and (min-width: $desktop-breakpoint) {
  body {
    // If screen width changes while active we still need to be able to scroll
    height: unset !important;
    overflow-y: unset !important;
  }
  .outer.nav-menu:not(.active) {
    // Default not showing outer menu before $desktop-breakpoint
    display: flex;
    align-items: center;
  }
  li button {
    font-size: 1rem;
  }
  li:not(li:last-of-type) button {
    color: white;
  }
  nav {
    margin-bottom: 0;
  }
  .header__container-top {
    margin-bottom: 5rem;
  }
  .outer:not(.hamburger) {
    // menu container
    position: relative;
    top: auto;
    left: auto;
    width: unset;
    max-height: unset;
    overflow: unset;
    background: unset;
    box-shadow: unset;
    border-radius: unset;
    padding: 0;
    margin: 0;
    gap: 1.5rem;
  }

  button[type="button"] {
    // inner menu buttons
    width: unset;
    margin: 0;
    padding: 0;
    img {
      // arrows
    }
  }
  .connect {
    margin-right: auto;
  }
  button[type="button"],
  .active li a {
  }
  .sign-up button {
    // sign up button
    @include btn-white();
    background-image: unset;
  }

  .active:not(.outer) {
    // inner menus
  }

  .active:not(.outer) li {
    // inner menu items
    a {
    }
  }
  .active.outer .login::before {
    // line between Connect and Login
    display: none;
  }
}

// Sorting out menu visuals
@media screen and (min-width: $desktop-breakpoint) {
  .nav-menu:not(.outer) {
    position: absolute;
    background-color: white;
    top: 3.5rem;
    text-align: left;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .nav-menu:not(.outer) li {
    cursor: pointer;
    margin: 0;
    padding: 0.5rem 3rem 0.5rem 1rem;
    &:hover {
      background-color: darken(white, 5%);
    }
  }
}
