.nav-menu:not(.active) {
  display: none;
}
.menu-container {
  position: relative;
}
.active.outer {
  overflow: scroll;
  position: fixed;
  left: 0;
  top: 6.5rem;
  margin: 1.5rem;
  padding: 2rem;

  border-radius: 0.5rem;
  width: calc(100vw - 2 * (1.5rem));
  max-height: calc(100vh - 2 * (1.5rem) - 7rem);

  background: $white;
  box-shadow: 0 2px 40px 2px rgba($color: #000000, $alpha: 0.3);

  li {
    font-family: "Ubuntu";
    font-size: 1.2rem;
  }
  .sign-up button {
    @include btn-orange();
    font-family: "Ubuntu";
    font-weight: 400;
    width: 10rem;
    height: 3.25rem;
    font-size: 1.2rem;
  }
}

// Arrows next to list items
.active.outer li:not(.active:not(.outer) *):not(.login, .sign-up)::after {
  margin-left: 10px;
  transition: ease-in-out 200ms;
  content: url(/images/icon-arrow-dark.svg);
}

.active:not(.outer) {
  padding: 1rem 0 0 0;
  background-color: hsl(240, 2%, 95%);
  border-radius: 0.5rem;
  li {
    color: hsl(240, 10%, 50%);
  }
  li:last-of-type {
    padding-bottom: 1rem;
  }
}

.active.outer .login::before {
  display: block;
  margin: 1.5rem 0;
  content: "";
  width: 100%;
  border: 1px solid hsl(240, 2%, 92%);
}

.top-orange {
  .hamburger {
    padding: 0;
    margin: 0;
    transition: 200ms all ease-in-out;
    background: url(/images/icon-hamburger.svg) no-repeat center;
    background-size: contain;
    border-radius: 0;
    width: 2rem;
    height: 2rem;
  }
  .active ~ .hamburger {
    background-image: url(/images/icon-close.svg);
  }
}

.outer li {
  margin-bottom: 1.75rem;
  color: $v-dark-black-blue;
}

.menu-container .nav {
}
