// IMPORTS AND VARIABLES

@import "_variables";
@import "_reset";
@import "_menu";
@import "_infrastructure";
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  font-size: 16px;
}

@mixin btn-white {
  color: $light-red;
  background-color: $white;
}
@mixin btn-red {
  color: $white;
  border: 1px solid $white;
  background: none;
}

// MAIN SCSS

body {
  font-family: "Overpass", sans-serif;
  text-align: center;
}
h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;

  font-size: 2rem;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}

p {
  color: $v-dark-greyish-blue;
  letter-spacing: 0.03rem;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  picture {
    margin: 1rem auto;
  }
  p,
  h2 {
    padding: 0 2rem;
  }
}
.img-shadow {
  filter: drop-shadow(10px 40px 30px rgba(31, 63, 91, 0.25));
}
.top-orange {
  padding: 1.5rem;
  margin-bottom: 3rem;
  background: url("/images/bg-pattern-intro.svg"), $bg-gradient-orange;
  background-size: 250%;
  background-position: center;
  background-repeat: no-repeat;

  color: $white;
  border-radius: 0 0 0 25%;
  h2,
  p {
    color: $white;
    max-width: 18rem;
    margin: 0 auto 1.5rem auto;
  }

  nav {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cta-btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0 6rem 0;
  }
  button {
    cursor: pointer;
    border: none;
    background: none;
    border-radius: 9000px;
    padding: 0.75rem 1rem;
    font-weight: 600;
  }
  .cta-btns button:first-child {
    @include btn-white();
    &:hover {
      @include btn-red();
    }
  }
  .cta-btns button:last-child {
    @include btn-red();
    &:hover {
      @include btn-white();
    }
  }
}
.section img {
  margin: 1rem 0;
  width: 100vw;
}

.bottom-black {
  margin-top: 5rem;
  padding-bottom: 2rem;
  color: $grayish-blue;
  background-color: $v-dark-black-blue;
  border-radius: 0 25% 0 0;
  img {
    width: 8rem;
    margin: 3rem auto;
  }
  .list-header {
    color: $white;
    font-weight: 600;
    margin: 1.5rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  ul li {
    padding: 0.35rem;
  }
}

.bottom-black li:not(.list-header) {
  position: relative;
  cursor: pointer;
  &:hover {
    color: $white;
  }
  &::after {
    content: "";
    position: absolute;
    width: 5rem;
    margin: auto;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }
}
