@import "variables";

h2 {
  margin-bottom: 1.25rem;
}

.alternating {
  justify-items: center;
  padding: 6rem 0;
  img {
    width: 85%;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
}

// BACKGROUNDS
.stats {
  background-image: url(/images/bg-section-top-mobile-1.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100vw;
  padding-bottom: 4rem;
}
.alternating:nth-of-type(odd) {
  background-color: $v-pale-blue;
}
.grow {
  padding-bottom: 2rem;
}
.flow {
  background-image: url(/images/bg-section-bottom-mobile-1.svg),
    url(/images/bg-section-top-mobile-2.svg);
  background-repeat: no-repeat;
  background-position: center top, center bottom;
  background-size: 100vw;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.user {
  padding-bottom: 0;
}
.cta {
  background-image: url(/images/bg-section-bottom-mobile-2.svg),
    url(/images/bg-footer-top-mobile.svg);
  background-repeat: no-repeat;
  background-position: center top, center bottom;
  background-size: 100vw;
  padding: 12rem 0;
}
footer {
  margin-top: -1px;
}
// BACKGROUNDS DESKTOP

@media screen and (min-width: $desktop-breakpoint) {
  $curve-padding: 6vw;
  .stats {
    padding-bottom: $curve-padding * 2;
    background-image: url(/images/bg-section-top-desktop-1.svg);
  }
  .flow {
    padding-top: $curve-padding * 3;
    padding-bottom: $curve-padding * 3;
    background-image: url(/images/bg-section-bottom-desktop-1.svg),
      url(/images/bg-section-top-desktop-2.svg);
  }
  .user {
    padding-bottom: $curve-padding;
  }
  .cta {
    button {
      margin: 0;
    }
    padding-top: $curve-padding * 3;
    padding-bottom: $curve-padding * 3;
    background-image: url(/images/bg-section-bottom-desktop-2.svg),
      url(/images/bg-footer-top-desktop.svg);
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .alternating {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    &:nth-of-type(odd) {
      grid-template-areas: "feature illustration";
    }
    &:nth-of-type(even) {
      grid-template-areas: "illustration feature";
    }
  }
  .alternating img {
    grid-area: illustration;
    margin: auto 0;
  }
  .alternating .text {
    text-align: left;
    grid-area: feature;
    margin: auto 0;
    max-width: 500px;
    p {
      margin-bottom: 0;
    }
  }
}
