@import "variables";
@import "reset";
@import "nav";
@import "stats";
@import "alternating-sections";
@import "footer";
@import "desktop";

@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/brands.scss";

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
nav,
main section,
footer,
.alternating,
.cta {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
h1 {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}
p {
  margin-bottom: 3rem;
}

nav,
.socials-list {
  display: flex;
}

button {
  cursor: pointer;
  font-weight: 600;
  padding: 0.75rem 2.5rem;
  border-radius: 999px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background-color: rgba($color: $pink, $alpha: 1);
  box-shadow: 0 3px 5px 3px rgba($color: #000000, $alpha: 0.1);
  margin-bottom: 6rem;
  &:active {
    background-color: rgba($color: $light-pink, $alpha: 1);
    transform: translateY(1px);
    box-shadow: 0 2px 5px 3px rgba($color: #000000, $alpha: 0.1);
  }
  @media screen and (min-width: $desktop-breakpoint) {
    font-size: 1rem;
    padding: 1.25rem 5rem;
  }
}

.hero img {
  width: 80vw;
  max-width: 850px;
}

main section img {
  margin-bottom: 5rem;
}
.attribution {
  p {
    margin-bottom: 0;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  nav,
  main section,
  footer,
  .alternating,
  .cta {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  nav {
    img {
      transform: scale(1.25);
    }
  }
}
