/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.social-sh {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #48556a;
  overflow: hidden;
}

.social-sh > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

:root {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecf2f8;
  padding: 2em;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  overflow: hidden;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: white;
  color: #6d7f97;
  font-weight: 500;
  border-radius: 1em;
  -webkit-box-shadow: 2px 4px 15px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 4px 15px 2px rgba(0, 0, 0, 0.05);
}

@media only screen and (min-width: 700px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 65em;
    max-height: 23em;
  }
}

.article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-container {
  margin: 0;
  padding: 0;
  width: 100%;
  background: url("../images/drawers.jpg") no-repeat scroll left top;
  background-size: 100% auto;
  height: 20em;
}

@media only screen and (min-width: 700px) {
  .img-container {
    background: url("../images/drawers.jpg") no-repeat scroll left;
    height: 23em;
    max-width: 28em;
    background-size: auto 100%;
  }
}

.article-preview {
  padding: 3rem 3rem 2rem 3rem;
}

.article-preview h2 {
  color: #48556a;
}

.article-preview p {
  margin-top: 1rem;
  font-size: 1.22rem;
}

.article-footer {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.22rem;
}

.article-footer img {
  border-radius: 50%;
  width: 3.5rem;
  margin: auto 1em auto 3rem;
}

.article-footer span {
  font-weight: 700;
  display: block;
}

.author {
  margin: auto;
}

.sh-container {
  margin-left: auto;
}

.sh-icon img {
  cursor: pointer;
}

.sh-button {
  border: none;
  background-color: #ecf2f8;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.sh-button img {
  margin: auto;
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
}

.sh-button:focus:not(:focus-visible) {
  outline: none;
}

.attribution {
  margin-top: 2em;
  text-align: center;
  color: #48556a;
}

.attribution li {
  display: inline-block;
  padding: 0 1em;
}

.hide {
  display: none;
}
/*# sourceMappingURL=main.css.map */