@import "variables";

header.dark,
aside.dark {
  background-color: $darkmode-dark-blue-top;
}
main.dark {
  background-color: $darkmode-dark-blue;
}
.dark * {
  color: $darkmode-desat-text;
}
.dark {
  .kpi {
    background-color: $darkmode-desat-blue;
  }

  h1,
  h2,
  .kpi span,
  .kpi .stat {
    color: $white;
  }
  h3 {
    color: $darkmode-desat-text;
  }
  header p {
    color: $dark-grayish-blue;
  }
}
