@import "variables";

header,
aside {
  background-color: $very-pale-blue;
}
.kpi {
  background-color: $light-grayish-blue;
}

* {
  color: $dark-grayish-blue;
}

h1,
.kpi span,
.kpi .stat {
  color: $very-dark-blue;
}

header p,
label,
h2,
h3 {
  color: $dark-grayish-blue;
}
