/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

input:checked + .slider {
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background: linear-gradient(to right, #378fe6, #3eda82);
}

input:checked + .slider:before {
  background: #1f212e;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 999px;
}

.slider.round:before {
  border-radius: 50%;
}

.kpi {
  border-radius: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  max-width: 22rem;
  margin: auto;
}

.kpis,
.kpis-secondary__container {
  max-width: calc(300px * 4)-calc(1.25rem * 3);
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  justify-items: center;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media screen and (min-width: 950px) {
  .kpis,
  .kpis-secondary__container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.kpis > .kpi {
  padding: 2rem;
  position: relative;
}

.kpis > .kpi::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0.3rem;
  content: "";
}

.kpis > .kpi.facebook::before {
  background-color: #198ff5;
}

.kpis > .kpi.twitter::before {
  background-color: #1ca0f2;
}

.kpis > .kpi.instagram::before {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(to right, #fdc468, #df4996);
}

.kpis > .kpi.youtube::before {
  background-color: #c4032a;
}

.kpis > .kpi p:first-of-type {
  font-weight: 700;
  position: relative;
  padding-left: 0.75rem;
}

.kpis > .kpi p:first-of-type::before {
  position: absolute;
  margin-top: 3px;
  left: -0.75rem;
}

.kpis > .kpi.facebook p:first-child:before {
  content: url(/images/icon-facebook.svg);
}

.kpis > .kpi.twitter p:first-child:before {
  content: url(/images/icon-twitter.svg);
}

.kpi.instagram p:first-child:before {
  content: url(/images/icon-instagram.svg);
}

.kpis > .kpi.youtube p:first-child:before {
  content: url(/images/icon-youtube.svg);
}

.kpis > .kpi span {
  font-weight: bold;
  display: block;
  font-size: 3.5rem;
  letter-spacing: 0;
  margin-bottom: -0.75rem;
}

.kpis > .kpi p:nth-of-type(2) {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1.5rem;
}

.kpis-secondary__container {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.kpis-secondary__container > .kpi {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title title" "stat percent";
  text-align: left;
  padding: 1.5rem;
  gap: 2rem;
}

.kpis-secondary__container > .kpi > h3 {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
}

.kpis-secondary__container > .kpi > h3::after {
  position: absolute;
  right: 0;
}

.kpis-secondary__container > .kpi > .stat {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: stat;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0;
  line-height: 0;
}

.kpis-secondary__container > .kpi > .percent {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: percent;
  margin-right: 0;
  margin-bottom: 0;
}

.kpis-secondary__container > .kpi.facebook > h3::after {
  content: url(/images/icon-facebook.svg);
}

.kpis-secondary__container > .kpi.instagram > h3::after {
  content: url(/images/icon-instagram.svg);
}

.kpis-secondary__container > .kpi.twitter > h3::after {
  content: url(/images/icon-twitter.svg);
}

.kpis-secondary__container > .kpi.youtube > h3::after {
  content: url(/images/icon-youtube.svg);
}

header,
aside {
  background-color: #f5f7ff;
}

.kpi {
  background-color: #f0f2fa;
}

* {
  color: #63687e;
}

h1,
.kpi span,
.kpi .stat {
  color: #1e202a;
}

header p,
label,
h2,
h3 {
  color: #63687e;
}

header.dark,
aside.dark {
  background-color: #1f212e;
}

main.dark {
  background-color: #1e202a;
}

.dark * {
  color: #8b97c6;
}

.dark .kpi {
  background-color: #252a41;
}

.dark h1,
.dark h2,
.dark .kpi span,
.dark .kpi .stat {
  color: white;
}

.dark h3 {
  color: #8b97c6;
}

.dark header p {
  color: #63687e;
}

body {
  font-family: "Inter", sans-serif;
}

@media screen and (min-width: 950px) {
  body {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "title toggle" "b b";
  }
}

main,
header,
aside {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 950px) {
  header *,
  aside * {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  aside p {
    padding-top: 1rem;
  }
  header,
  aside,
  main {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

h1 {
  font-size: clamp(1.5rem, 3vw, 2.1rem);
  padding-top: 1rem;
}

header p {
  font-weight: 700;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #6e748c;
}

@media screen and (min-width: 950px) {
  header p {
    border: none;
  }
}

aside {
  padding-top: 1rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

aside p {
  color: #63687e;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 3.5rem;
}

@media screen and (min-width: 950px) {
  aside p {
    padding-bottom: 0;
    margin: 0;
  }
}

@media screen and (min-width: 950px) {
  aside {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  aside p {
    margin-right: 3rem;
    padding-top: calc(1.15rem);
  }
}

main {
  margin-top: -2rem;
  padding-bottom: 3rem;
  grid-area: b;
}

@media screen and (min-width: 950px) {
  main {
    margin-top: -6rem;
  }
}

* {
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.up,
.down {
  font-weight: 700;
  position: relative;
  margin: auto;
}

.up::before,
.down::before {
  position: absolute;
  -webkit-transform: translate(-0.75rem, -0.2rem);
          transform: translate(-0.75rem, -0.2rem);
}

.up {
  color: #1db489;
}

.up::before {
  content: url(/images/icon-up.svg);
}

.down {
  color: #dc414c;
}

.down::before {
  content: url(/images/icon-down.svg);
}

.kpis-secondary {
  padding-top: 2.5rem;
}
/*# sourceMappingURL=style.css.map */