@import "_variables";

button {
  background: none;
  border: none;
}

.divider__phone {
  padding-top: 4rem;
  margin-bottom: 4rem;
}
.mobile__container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  background-color: $white;
  border-radius: 1.5rem;
  padding: 0.75rem;
}
.mobile__container::before {
  content: "";
  position: relative;
  margin: auto;
  margin-top: -0.75rem;
  top: 0;
  border-radius: 1000px;
  background-color: $white;
  width: 66%;
  height: 2rem;
}

.mobile__chat-window {
  font-size: 0.6rem;
  background-color: hsl(270, 20%, 96%);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-top: -1.25rem;
}

.mobile__top-bar {
  display: flex;
  flex-direction: row;
  padding: 1.75rem 0rem 0 1rem;
  border-radius: 1.5rem 1.5rem 0.5rem 0.5rem;
  background: linear-gradient(to left, $light-magenta, $light-violet);
  box-shadow: 0 1px 5px 5px rgba(128, 102, 153, 0.15);
}

.mobile__top-bar-ui {
  width: 100%;
  // height: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  // flex-direction: row;
  // justify-content: center;
  align-items: center;
  button {
    color: $white;
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 1.25rem;
    }
  }
  img {
    width: 2rem;
    border-radius: 999px;
    border: 2px solid $white;
  }
  .mobile__top-bar-name-status {
    color: $white;
    margin-right: auto;
    p:first-of-type {
      // border: red 1px solid;
      font-size: 0.75rem;
    }
    p:last-of-type {
      color: $pale-violet;
      opacity: 0.9;
    }
  }
}
.mobile__chat-messages {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}
.message__them {
  color: $moderate-violet;
  background-color: hsl(276, 45%, 95%);
  margin: 0.5rem 1rem;
  padding: 0.75rem;
  border-radius: 1rem 1rem 1rem 0.25rem;
  max-width: 12rem;
}
.message__them + .message__them {
  margin-top: 0;
}

.message__you {
  align-self: flex-end;
  color: $desat-dark-violet;
  margin: 0.5rem 1rem;
  padding: 0.75rem;
  border-radius: 1rem 1rem 0.25rem 1rem;
  &:not(.photo) {
    background-color: $white;
    max-width: 12rem;
  }
}
.message__you + .message__you {
  margin-top: 0;
}

.photo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin-top: 0;
  img {
    border-radius: 0.5rem;
    margin: 1rem 0 0 1rem;
    height: 3.5rem;
    &:first-of-type {
      margin-left: auto;
    }
  }
}

.message__them:not(.photo),
.message__you:not(.photo) {
  box-shadow: 0 6px 6px -3px rgba(128, 102, 153, 0.15);
}
