/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li,
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.divider__phone {
  padding-top: 4rem;
  margin-bottom: 4rem;
}

.mobile__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  height: 41rem;
  max-width: 18rem;
  margin: auto;
  background-color: white;
  border-radius: 1.5rem;
  padding: 0.75rem;
  -webkit-box-shadow: 5px 5px 50px 20px rgba(163, 157, 170, 0.2);
          box-shadow: 5px 5px 50px 20px rgba(163, 157, 170, 0.2);
}

.mobile__container::before {
  content: "";
  position: relative;
  margin: auto;
  margin-top: -0.75rem;
  top: 0;
  border-radius: 1000px;
  background-color: white;
  width: 66%;
  height: 2rem;
}

.mobile__chat-window {
  font-size: 0.6rem;
  background-color: #f5f3f7;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -1.25rem;
}

.mobile__top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.75rem 0rem 0 1rem;
  border-radius: 1.5rem 1.5rem 0.5rem 0.5rem;
  background: -webkit-gradient(linear, right top, left top, from(#e942ff), to(#8838ff));
  background: linear-gradient(to left, #e942ff, #8838ff);
  -webkit-box-shadow: 0 1px 5px 5px rgba(128, 102, 153, 0.15);
          box-shadow: 0 1px 5px 5px rgba(128, 102, 153, 0.15);
}

.mobile__top-bar-ui {
  width: 100%;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__top-bar-ui button {
  color: white;
  margin-right: 0.5rem;
}

.mobile__top-bar-ui button:last-child {
  margin-right: 1.25rem;
}

.mobile__top-bar-ui img {
  width: 2rem;
  border-radius: 999px;
  border: 2px solid white;
}

.mobile__top-bar-ui .mobile__top-bar-name-status {
  color: white;
  margin-right: auto;
}

.mobile__top-bar-ui .mobile__top-bar-name-status p:first-of-type {
  font-size: 0.75rem;
}

.mobile__top-bar-ui .mobile__top-bar-name-status p:last-of-type {
  color: #d89eff;
  opacity: 0.9;
}

.mobile__chat-messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0.5rem;
  height: 32rem;
}

.message__them {
  color: #9241c8;
  background-color: #f3edf8;
  margin: 0.5rem 1rem;
  padding: 0.75rem;
  border-radius: 1rem 1rem 1rem 0.25rem;
  max-width: 12rem;
}

.message__them + .message__them {
  margin-top: 0;
}

.message__you {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #6e5d7e;
  margin: 0.5rem 1rem;
  padding: 0.75rem;
  border-radius: 1rem 1rem 0.25rem 1rem;
}

.message__you:not(.photo) {
  background-color: white;
  max-width: 12rem;
}

.message__you + .message__you {
  margin-top: 0;
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

.photo img {
  border-radius: 0.5rem;
  margin: auto 0 auto 1rem;
  height: 3.5rem;
}

.photo img:first-of-type {
  margin-left: auto;
}

.message__them:not(.photo),
.message__you:not(.photo) {
  -webkit-box-shadow: 0 6px 6px -3px rgba(128, 102, 153, 0.15);
          box-shadow: 0 6px 6px -3px rgba(128, 102, 153, 0.15);
}

.message__click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#e942ff), to(#8838ff));
  background-image: linear-gradient(to right, #e942ff, #8838ff);
}

.message__click p:nth-of-type(1) {
  margin-right: auto;
}

.message__click p:nth-of-type(2) {
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.message__click::before {
  content: "";
  position: relative;
  cursor: pointer;
  z-index: 3;
  width: 0.9rem;
  height: 0.9rem;
  border: rgba(255, 255, 255, 0.5) 1px solid;
  border-radius: 9999px;
  margin-right: 0.75rem;
}

.message__click::before:hover {
  -webkit-transition: 250ms;
  transition: 250ms;
  background-color: white;
  border: white 1px solid;
}

.mobile__type-message {
  color: #9241c8;
  background-color: white;
  margin: 0.5rem 0.5rem;
  padding: 0 0.25rem 0 0.5rem;
  border-radius: 9999px;
  border: 1px solid #f0edf3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type="text"] {
  border: none;
  margin: auto;
  height: 1.75rem;
  word-wrap: break-word;
  background-color: none;
  width: 100%;
}

input[type="text"] ::-webkit-input-placeholder {
  color: #c6cacd;
}

input[type="text"] :-ms-input-placeholder {
  color: #c6cacd;
}

input[type="text"] ::-ms-input-placeholder {
  color: #c6cacd;
}

input[type="text"] ::placeholder {
  color: #c6cacd;
}

button[type="submit"] {
  cursor: pointer;
  height: 30px;
  width: calc(30px + 0.4rem);
  border-radius: 50%;
  margin: 0.2rem 0rem;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button[type="submit"] i {
  margin-left: 1px;
  padding: 0;
  color: white;
  font-size: 0.8rem;
}

.divider__text {
  color: #a39daa;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.divider__text h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #3e2753;
}

.divider__text p {
  margin-bottom: 1rem;
}

.divider__text ul {
  margin-bottom: 2rem;
}

.divider__text ul a {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e942ff), to(#8838ff));
  background-image: linear-gradient(to top, #e942ff, #8838ff);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: bolder;
}

@media screen and (min-width: 900px) {
  body {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "phone text";
    grid-auto-columns: 1fr 1fr;
  }
  body::before {
    left: -10%;
    width: 45vw !important;
    height: 90vh !important;
    border-bottom-left-radius: 1000px !important;
  }
  body::after {
    width: 20vw !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#ede6f4), to(#f5f3f7)) !important;
    background: linear-gradient(to bottom, #ede6f4, #f5f3f7) !important;
  }
  .divider__phone,
  .divider__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile__container {
    margin-right: 5vw;
  }
  .divider__text {
    text-align: left;
    margin-left: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .divider__text h1 {
    margin: 0;
  }
  .divider__text p {
    max-width: 30rem;
    margin: 2rem 0;
  }
}

body {
  min-height: 100vh;
  position: relative;
  background-color: #f5f3f7;
  font-family: "Rubik", sans-serif;
}

body::before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 50vw;
  height: 70vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#e942ff), to(#8838ff));
  background: linear-gradient(to bottom, #e942ff, #8838ff);
  border-radius: 0 0 1000px 0;
}

body::after {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: "";
  width: 50vw;
  height: 70vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#f0edf3), to(#f5f3f7));
  background: linear-gradient(to bottom, #f0edf3, #f5f3f7);
  border-radius: 1000px 0 0 0;
}
/*# sourceMappingURL=main.css.map */