/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li,
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  background: none;
  border: none;
}

.divider__phone {
  padding-top: 4rem;
  margin-bottom: 4rem;
}

.mobile__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  margin: auto;
  background-color: white;
  border-radius: 1.5rem;
  padding: 0.75rem;
}

.mobile__container::before {
  content: "";
  position: relative;
  margin: auto;
  margin-top: -0.75rem;
  top: 0;
  border-radius: 1000px;
  background-color: white;
  width: 66%;
  height: 2rem;
}

.mobile__chat-window {
  font-size: 0.6rem;
  background-color: #f5f3f7;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -1.25rem;
}

.mobile__top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.75rem 0rem 0 1rem;
  border-radius: 1.5rem 1.5rem 0.5rem 0.5rem;
  background: -webkit-gradient(linear, right top, left top, from(#e942ff), to(#8838ff));
  background: linear-gradient(to left, #e942ff, #8838ff);
  -webkit-box-shadow: 0 1px 5px 5px rgba(128, 102, 153, 0.15);
          box-shadow: 0 1px 5px 5px rgba(128, 102, 153, 0.15);
}

.mobile__top-bar-ui {
  width: 100%;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__top-bar-ui button {
  color: white;
  margin-right: 0.5rem;
}

.mobile__top-bar-ui button:last-child {
  margin-right: 1.25rem;
}

.mobile__top-bar-ui img {
  width: 2rem;
  border-radius: 999px;
  border: 2px solid white;
}

.mobile__top-bar-ui .mobile__top-bar-name-status {
  color: white;
  margin-right: auto;
}

.mobile__top-bar-ui .mobile__top-bar-name-status p:first-of-type {
  font-size: 0.75rem;
}

.mobile__top-bar-ui .mobile__top-bar-name-status p:last-of-type {
  color: #d89eff;
  opacity: 0.9;
}

.mobile__chat-messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0.5rem;
}

.message__them {
  color: #9241c8;
  background-color: #f3edf8;
  margin: 0.5rem 1rem;
  padding: 0.75rem;
  border-radius: 1rem 1rem 1rem 0.25rem;
  max-width: 12rem;
}

.message__them + .message__them {
  margin-top: 0;
}

.message__you {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #6e5d7e;
  margin: 0.5rem 1rem;
  padding: 0.75rem;
  border-radius: 1rem 1rem 0.25rem 1rem;
}

.message__you:not(.photo) {
  background-color: white;
  max-width: 12rem;
}

.message__you + .message__you {
  margin-top: 0;
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin-top: 0;
}

.photo img {
  border-radius: 0.5rem;
  margin: 1rem 0 0 1rem;
  height: 3.5rem;
}

.photo img:first-of-type {
  margin-left: auto;
}

.message__them:not(.photo),
.message__you:not(.photo) {
  -webkit-box-shadow: 0 6px 6px -3px rgba(128, 102, 153, 0.15);
          box-shadow: 0 6px 6px -3px rgba(128, 102, 153, 0.15);
}

.divider__text {
  color: #a39daa;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.divider__text h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #3e2753;
}

.divider__text p {
  margin-bottom: 1rem;
}

.divider__text ul {
  margin-bottom: 2rem;
}

.divider__text ul a {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e942ff), to(#8838ff));
  background-image: linear-gradient(to top, #e942ff, #8838ff);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: bolder;
}

body {
  position: relative;
  background-color: #f5f3f7;
  font-family: "Rubik", sans-serif;
}

body::before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 50vw;
  height: 70vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#e942ff), to(#8838ff));
  background: linear-gradient(to bottom, #e942ff, #8838ff);
  border-radius: 0 0 1000px 0;
}

body::after {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: "";
  width: 50vw;
  height: 70vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#f0edf3), to(#f5f3f7));
  background: linear-gradient(to bottom, #f0edf3, #f5f3f7);
  border-radius: 1000px 0 0 0;
}
/*# sourceMappingURL=main.css.map */