@import "_reset";
@import "_variables";
@import "_phone";
@import "_text-section";

body {
  position: relative;
  background-color: $light-grayish-violet;
  font-family: "Rubik", sans-serif;
  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 50vw;
    height: 70vh;
    background: linear-gradient(to bottom, $light-magenta, $light-violet);
    border-radius: 0 0 1000px 0;
  }
  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: "";
    width: 50vw;
    height: 70vh;
    background: linear-gradient(
      to bottom,
      hsl(270, 20%, 94%),
      $light-grayish-violet
    );
    border-radius: 1000px 0 0 0;
  }
}
