@import "_variables";

.creations {
  width: 100%;
}
.creations__preview {
  cursor: pointer;
  display: flex;
  height: 7.5rem;
  padding: 1.5rem;
  margin: 1rem 0;
  background-size: cover;
  transition: all 0.5s;
  overflow: hidden;

  p {
    width: 7rem;
    margin-top: auto;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
}

.creations__all {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.creations__all button {
  cursor: pointer;
  height: 2.6rem;
  letter-spacing: 2px;
  line-height: calc(2.5rem / 2);
  background-color: white;
  border: solid 1px $black;
  text-transform: uppercase;
  padding: 0.75rem 3rem;
  transition: 0.5s;
  &:hover {
    color: $white;
    background-color: $black;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .creations {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 4fr 4fr;
    grid-template-areas: "title title seeall seeall" "card1 card2 card3 card4" "card5 card6 card7 card8";
    margin-bottom: 8rem;
    h2 {
      margin-left: 0;
      grid-area: title;
    }
    .creations__all {
      margin-right: 0;
      grid-area: seeall;
    }
    .creations__preview {
      margin: 0;
      height: 100%;
      p {
        width: 100%;
        font-size: 1.5rem;
      }
    }
  }
}
