@media screen and (min-width: $desktop-breakpoint) {
  .component {
    display: grid;
    grid-template-areas:
      "pageviews price"
      "bar bar"
      "toggle toggle"
      "checklist trial";

    .pageviews {
      grid-area: pageviews;
    }
    .amount {
      grid-area: price;
    }
    .slider {
      grid-area: bar;
    }
    .billing-toggle {
      grid-area: toggle;
    }
    .tick-list {
      grid-area: checklist;
    }
    .trial {
      grid-area: trial;
    }
  }
}
