@import "_variables";

.slider {
  margin: 3rem;
  display: flex;
  @media screen and (min-width: $desktop-breakpoint) {
    margin: 3rem 0;
  }
}

@mixin slider-thumb {
  width: 3.5rem;
  height: 3.5rem;
  transform: translateY(-33%);
  background-color: $strong-cyan;
  background-image: url(/images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0 20px 30px 10px rgba(16, 213, 194, 0.35);
}
@mixin slider-bar() {
  width: 80%;
  height: 1em;
  background-color: $light-greyish-blue;
  border-radius: 1000px;
}
// For the thumb selector
#slider {
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include slider-thumb();
  }
  &::-moz-range-thumb {
    @include slider-thumb();
  }
  &::-ms-thumb {
    @include slider-thumb();
  }
}
// For the track
#slider {
  // Chrome
  &::-webkit-slider-runnable-track {
    @include slider-bar();
    background: linear-gradient(
      to right,
      $soft-cyan 0%,
      $soft-cyan 10%,
      $light-greyish-blue 10%,
      $light-greyish-blue 100%
    );
  }
  // Mozilla
  &::-moz-range-track {
    @include slider-bar();
  }
  &::-moz-range-progress {
    @include slider-bar();
    background-color: $soft-cyan;
  }
  // IE
  &::-ms-track {
    @include slider-bar();
  }
  &::-ms-fill-lower {
    @include slider-bar();
    background-color: $soft-cyan;
  }
  &::-ms-fill-upper {
    @include slider-bar();
  }
}
