/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.slider {
  margin: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 800px) {
  .slider {
    margin: 3rem 0;
  }
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 3.5rem;
  height: 3.5rem;
  -webkit-transform: translateY(-33%);
          transform: translateY(-33%);
  background-color: #10d5c2;
  background-image: url(/images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border-radius: 100%;
  cursor: pointer;
  -webkit-box-shadow: 0 20px 30px 10px rgba(16, 213, 194, 0.35);
          box-shadow: 0 20px 30px 10px rgba(16, 213, 194, 0.35);
}

#slider::-moz-range-thumb {
  width: 3.5rem;
  height: 3.5rem;
  transform: translateY(-33%);
  background-color: #10d5c2;
  background-image: url(/images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0 20px 30px 10px rgba(16, 213, 194, 0.35);
}

#slider::-ms-thumb {
  width: 3.5rem;
  height: 3.5rem;
  transform: translateY(-33%);
  background-color: #10d5c2;
  background-image: url(/images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0 20px 30px 10px rgba(16, 213, 194, 0.35);
}

#slider::-webkit-slider-runnable-track {
  width: 80%;
  height: 1em;
  background-color: #eaeefb;
  border-radius: 1000px;
  background: -webkit-gradient(linear, left top, right top, from(#a5f3eb), color-stop(10%, #a5f3eb), color-stop(10%, #eaeefb), to(#eaeefb));
  background: linear-gradient(to right, #a5f3eb 0%, #a5f3eb 10%, #eaeefb 10%, #eaeefb 100%);
}

#slider::-moz-range-track {
  width: 80%;
  height: 1em;
  background-color: #eaeefb;
  border-radius: 1000px;
}

#slider::-moz-range-progress {
  width: 80%;
  height: 1em;
  background-color: #eaeefb;
  border-radius: 1000px;
  background-color: #a5f3eb;
}

#slider::-ms-track {
  width: 80%;
  height: 1em;
  background-color: #eaeefb;
  border-radius: 1000px;
}

#slider::-ms-fill-lower {
  width: 80%;
  height: 1em;
  background-color: #eaeefb;
  border-radius: 1000px;
  background-color: #a5f3eb;
}

#slider::-ms-fill-upper {
  width: 80%;
  height: 1em;
  background-color: #eaeefb;
  border-radius: 1000px;
}

button {
  position: relative;
  overflow: hidden;
  -webkit-transition: background 400ms;
  transition: background 400ms;
  color: #bdccff;
  background-color: #293356;
  margin: 2rem auto 3rem auto;
  border: none;
  max-width: 16rem;
  font-weight: 800;
  padding: 1.1rem 4.2rem;
  border-radius: 100px;
}

button:hover {
  color: #293356;
  background-color: #bdccff;
  -webkit-box-shadow: 0 0 0 1px #293356;
          box-shadow: 0 0 0 1px #293356;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: ripple 600ms linear;
          animation: ripple 600ms linear;
  background-color: #293356;
}

@-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(4);
            transform: scale(4);
    opacity: 0;
  }
}

@keyframes ripple {
  to {
    -webkit-transform: scale(4);
            transform: scale(4);
    opacity: 0;
  }
}

.toggle {
  margin: 0.75rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle input:focus {
  outline-offset: 50px;
  outline: solid black 2px;
}

/* The slider */
.toggle-bg {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdd7ee;
  border-radius: 34px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle-bg::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 20px;
  left: 6px;
  bottom: 16%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .toggle-bg {
  background-color: #10d5c2;
}

.switch input:checked + .toggle-bg::before {
  -webkit-transform: translateX(28px);
          transform: translateX(28px);
}

:root {
  font-size: 15px;
  letter-spacing: 1px;
  font-family: "Manrope", sans-serif;
}

body {
  background-image: url("/images/pattern-circles.svg");
  color: #858fad;
  background-repeat: no-repeat;
  background-position: center 8vh;
  background-size: 25vw;
  text-align: center;
  padding: 1rem;
  background-color: #fafbff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 800px) {
  body {
    background-size: 20vh;
  }
}

.component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  width: 100%;
  margin: auto;
  -webkit-box-shadow: 0px 1px 50px 1px rgba(133, 143, 173, 0.1);
          box-shadow: 0px 1px 50px 1px rgba(133, 143, 173, 0.1);
}

@media screen and (min-width: 800px) {
  .component {
    max-width: 50rem;
    display: -ms-grid;
    display: grid;
    padding: 3rem;
        grid-template-areas: "pageviews price" "bar bar" "toggle toggle" "checklist trial";
    grid-auto-columns: 1fr 1fr;
  }
  .component .pageviews {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: pageviews;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  .component .amount {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: price;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  .component .slider {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: bar;
  }
  .component .billing-toggle {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: toggle;
  }
  .component .tick-list {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: checklist;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .component .tick-list li {
    margin-left: 1rem;
  }
  .component .trial {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: trial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
  }
}

.header-text {
  margin: auto;
}

.header-text h3 {
  font-size: 1.5rem;
  color: #293356;
  font-weight: 800;
  padding: 1rem;
}

.header-text p {
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 800px) {
  .header-text {
    width: 100%;
  }
  .header-text .header-para {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
  }
  .header-text .header-para p {
    padding: 0 2px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pageviews {
  font-size: 1.1rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.amount #amount-var {
  margin-right: 0.5rem;
  color: #293356;
  font-size: 3rem;
  font-weight: 800;
}

.amount #amount-var::before {
  content: "$";
}

.amount #month-year-var {
  font-size: 1.2rem;
}

.billing-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 3rem 0 2.5rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(205, 215, 238, 0.7);
}

.billing-toggle p:last-child::after {
  overflow: hidden;
  white-space: nowrap;
  color: #ff8c66;
  font-size: 0.8rem;
  margin-left: 0.3rem;
  padding: 0.2rem 0.5rem;
  border-radius: 100px;
  background-color: #feece7;
  content: "-25%";
}

@media screen and (min-width: 800px) {
  .billing-toggle p:last-child::after {
    content: "25% discount";
  }
}

.component ul li {
  margin: auto;
  padding: 0.3rem;
  list-style: url(/images/icon-check.svg);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-indent: 1rem;
}

.attribution {
  margin-top: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
/*# sourceMappingURL=main.css.map */