@import "_reset";
@import "_slider";
@import "_button";
@import "_toggle";
@import "_variables";

:root {
  font-size: 15px;
  letter-spacing: 1px;
  font-family: "Manrope", sans-serif;
}

body {
  background-image: url("/images/pattern-circles.svg");
  color: $grey-blue;

  background-repeat: no-repeat;
  background-position: center 8vh;
  background-size: 25vw;
  text-align: center;
  padding: 1rem;
  background-color: $v-pale-blue;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $desktop-breakpoint) {
    background-size: 20vh;
  }
}

.component {
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 100%;
  margin: auto;
  box-shadow: 0px 1px 50px 1px rgba(133, 143, 173, 0.1);
  @media screen and (min-width: $desktop-breakpoint) {
    max-width: 50rem;
    display: grid;
    padding: 3rem;
    grid-template-areas:
      "pageviews price"
      "bar bar"
      "toggle toggle"
      "checklist trial";
    grid-auto-columns: 1fr 1fr;
    @mixin grid-align($alignment) {
      display: flex;
      flex-direction: row;
      justify-content: $alignment;
      align-items: center;
      margin-top: auto;
      margin-bottom: auto;
    }

    .pageviews {
      grid-area: pageviews;
      @include grid-align(flex-start);
    }
    .amount {
      grid-area: price;
      @include grid-align(flex-end);
    }
    .slider {
      grid-area: bar;
    }
    .billing-toggle {
      grid-area: toggle;
    }
    .tick-list {
      grid-area: checklist;
      @include grid-align(flex-start);
      flex-direction: column;
      li {
        margin-left: 1rem;
      }
    }
    .trial {
      grid-area: trial;
      @include grid-align(flex-end);
      margin-right: 0;
    }
  }
}

.header-text {
  margin: auto;
  h3 {
    font-size: 1.5rem;
    color: $dark-desat-blue;
    font-weight: 800;
    padding: 1rem;
  }
  p {
    padding-bottom: 0.5rem;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    width: 100%;
    .header-para {
      display: flex;
      flex-direction: row;
      margin: auto;
      p {
        padding: 0 2px;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.pageviews {
  font-size: 1.1rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.amount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  #amount-var {
    margin-right: 0.5rem;
    color: $dark-desat-blue;
    font-size: 3rem;
    font-weight: 800;
    &::before {
      content: "$";
    }
  }
  #month-year-var {
    font-size: 1.2rem;
  }
}

.billing-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem 0 2.5rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(205, 215, 238, 0.7);
}

.billing-toggle p:last-child::after {
  overflow: hidden;
  white-space: nowrap;
  color: $light-red;
  font-size: 0.8rem;
  margin-left: 0.3rem;
  padding: 0.2rem 0.5rem;
  border-radius: 100px;
  background-color: $light-grey-red;
  content: "-25%";
  @media screen and (min-width: 800px) {
    content: "25% discount";
  }
}

.component ul li {
  margin: auto;
  padding: 0.3rem;
  list-style: url(/images/icon-check.svg);
  width: fit-content;
  text-indent: 1rem;
}

.attribution {
  margin-top: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
