// IMPORTS AND VARIABLES

@import "reset.scss";
@import "progress-bar.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

$gradient: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));

$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$v-dark-blue: hsl(229, 57%, 11%);

$desktop-breakpoint: 750px;

@mixin default-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  @include default-flex();
  padding: 2rem;
  color: $pale-blue;
  font-family: "Raleway", sans-serif;
  background: $v-dark-blue url("/images/bg-mobile.png") no-repeat;
  background-size: cover;
}

.container {
  @include default-flex();
  margin: auto;
  width: 100%;
}

.upper {
  background-color: $dark-blue;
  width: 100%;
  padding: 2rem;
  border-radius: 0.75rem 5rem 0.75rem 0.75rem;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.icons {
  width: 100%;
}
.icons ul {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  li {
    // margin: auto 0;
    display: inline-block;
    justify-items: flex-end;
    flex-wrap: wrap;
  }
  li + li {
    margin-left: 1rem;
  }
}
.icons button {
  background-color: $v-dark-blue;
  @include default-flex();

  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 0.75rem;

  &:hover {
    cursor: pointer;
    border: solid 2px hsl(335, 100%, 65%);
    transition: 200ms;
  }
  &:active {
    transform: translateY(1px);
  }
}

.lower {
  @include default-flex();
  border-radius: 0.75rem;
  background-color: $dark-blue;
  width: 100%;
  padding: 2rem;
  font-size: 1rem;
}
p span {
  font-weight: 700;
}

.storage-bar-div {
  @include default-flex();
  width: 100%;
  margin: 1rem 0;
}

.bar-label {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.tooltip {
  margin-top: -1.5rem;
  background-color: white;
  color: $grayish-blue;
  font-weight: 700;
  border-radius: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  vertical-align: middle;
  line-height: 0;
  width: 10rem;
  height: 4rem;
  p {
    @include default-flex();
    flex-direction: row;
    vertical-align: middle;
    height: 100%;
    font-size: 0.75rem;
  }

  span {
    color: black;
    font-size: 2.5rem;
    line-height: 1em;
    margin-right: 0.25rem;
  }
}

.attribution {
  @include default-flex();
  margin-top: auto;
  text-align: center;
  ul {
    margin: 1rem 0;
  }
  li {
    display: inline-block;
    padding: 0 2rem;
    a {
      background-color: hsl(335, 100%, 65%);
      background-image: $gradient;
      background-size: 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@media screen and (max-width: $desktop-breakpoint) and (min-width: 550px) {
  .upper {
    flex-direction: row;
    align-items: flex-end;
    .logo-div {
      width: 100%;
    }
    .icons {
      display: flex;
    }
    .icons ul {
      margin: 0 2rem 0 auto;
    }
  }
}

// DESKTOP

@media screen and (min-width: $desktop-breakpoint) {
  body {
    background: $v-dark-blue url("/images/bg-desktop.png") no-repeat;
    background-position: bottom left;
  }
  .outer {
    flex-direction: row;
    width: 100%;
  }
  .upper {
    width: 100%;
    max-width: 20rem;
    margin: 0;
    margin-right: 2rem;
    margin-top: 5rem;
    align-self: flex-end;
    .icons {
      width: auto;
      margin-bottom: 1rem;
    }
  }
  .lower {
    align-self: flex-end;
    font-size: 0.9rem;
    margin: 0;
    width: 100%;
    max-width: 40rem;
    display: inline-flex;
    flex-grow: 1;
    .youve-used {
      margin-right: auto;
    }
  }
  .tooltip {
    display: block;
    margin: 0;
    width: 12rem;
    height: 4.5rem;
    left: 69vw;
    top: 30vh;
    border-radius: 0.75rem 0.75rem 0 0.75rem;
    position: absolute;
    p {
      margin: 0;
    }
    &::after {
      position: relative;
      left: 10rem;
      top: -1rem;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-color: transparent white transparent transparent;
      border-width: 0rem 2rem 2rem 0rem;
      content: "";
    }
  }
}
.storage-bar-div {
  margin-bottom: 0;
}

// Fix for REALLY thin screens
@media screen and (max-width: 320px) {
  .icons button {
    height: 2.25rem;
    width: 2.25rem;
  }
}
