@import "variables";

footer {
  position: relative;
  text-align: left;
  background-color: $very-dark-cyan;
  padding-bottom: 3rem;
  padding-top: 8rem;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
}
address {
  font-style: normal;
}
footer img {
  height: 2rem;
  width: auto;
  margin: auto auto 1rem 0;
  filter: brightness(0) invert(1);
}
footer img + p {
  font-weight: 600;
}
footer a {
  color: white;
}
footer ul,
footer li {
  margin: auto 0;
  @media screen and (min-width: $desktop-breakpoint) {
    margin-top: 0;
  }
}
footer ul {
  margin-bottom: 1rem;
}
.socials-list {
  margin: auto;
  gap: 1rem;
  a {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  i {
    font-size: 1.1rem;
    margin: auto;
    border: 1px solid white;
    transform: translateX(1px);
    border-radius: 9999px;
    padding: 0.25rem;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    margin-top: 0;
  }
}
footer li {
  padding: 0.5rem 0;
}
.contact-list li {
  list-style-position: outside;
  padding-left: 0.5rem;
  margin-left: 1.5rem;
}
.contact-list li:nth-of-type(1) {
  list-style-image: url(/images/icon-location.svg);
}
.contact-list li:nth-of-type(2) {
  list-style-image: url(/images/icon-phone.svg);
}
.contact-list li:nth-of-type(3) {
  list-style-image: url(/images/icon-email.svg);
}

i:hover {
  transition: ease-in-out 200ms;
  color: rgba($color: $pink, $alpha: 1);
  border: 1px solid rgba($color: $pink, $alpha: 1);
}
.socials-list a {
  text-decoration: none;
}
footer ul:not(.socials-list) li a {
  text-decoration: none;
  font-size: 1.1rem;
  &:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  footer {
    display: grid;
    grid-template-areas:
      "logo logo logo logo"
      "one two three four";
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 1rem 3rem;
  }
  footer img {
    grid-area: logo;
  }
  address ul {
    grid-area: one;
  }
  footer ul:nth-of-type(1) {
    grid-area: two;
  }
  footer ul:nth-of-type(2) {
    grid-area: three;
  }
  footer ul:nth-of-type(3) {
    grid-area: four;
  }
  .socials-list {
    margin-left: 0;
  }
}
