@import "variables";
@import "reset";
@import "nav-hero";
@import "alternating";
@import "cta";
@import "footer";
// @import "desktop";

@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/brands.scss";

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
header,
main section,
footer,
.hero,
.alternating {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media screen and (min-width: $desktop-breakpoint) {
  header,
  main,
  footer,
  .hero,
  .alternating {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
.alternating,
.cta__container,
.cta {
  box-shadow: 0 0 6px 3px rgba($color: #000000, $alpha: 0.05);
}
h1 {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}
p {
  margin-bottom: 3rem;
}

header,
.socials-list {
  display: flex;
}

button {
  cursor: pointer;
  font-weight: 600;
  padding: 0.75rem 2.5rem;
  border-radius: 999px;
  max-width: 18rem;
  font-size: 0.8rem;
  border: none;
  color: white;
  background-color: rgba($color: $pink, $alpha: 1);
  box-shadow: 0 3px 5px 3px rgba($color: #000000, $alpha: 0.1);
  &:active {
    background-color: lighten(rgba($color: $pink, $alpha: 1), 15%);
    transform: translateY(1px);
    box-shadow: 0 2px 5px 3px rgba($color: #000000, $alpha: 0.1);
  }
  @media screen and (min-width: $desktop-breakpoint) {
    font-size: 1rem;
    // padding: 1.25rem 5rem;
    width: 18rem;
    padding: 1.25rem 0;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  header,
  main section,
  footer,
  .alternating {
    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    padding-left: 3rem;
    padding-right: 3rem;
  }
  header {
    img {
      transform: scale(1.25);
    }
  }
}
