@import "_variables";

.hero-bg-section {
  width: 100%;
  background-image: url(/images/mobile/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: $desktop-breakpoint) {
    background-image: url(/images/desktop/image-hero.jpg);
    background-size: cover auto;
  }
}

.hero {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-bottom: 7.5rem;
}

.hero__text {
  border: solid 3px $white;
  h1 {
    font-size: 10vw;
    padding: 3rem 1.5rem 2rem 1.5rem;
    color: $white;
    word-spacing: 100vw;
    line-height: 10vw;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .hero {
    margin: 0;
    padding-top: 6rem;
    padding-bottom: 6rem;
    justify-self: flex-start;
    align-self: flex-start;
  }
  .hero__text {
    width: 50%;
    h1 {
      font-size: 4rem;
      line-height: 3.9rem;
      word-spacing: normal;
    }
  }
}
