@import "_variables";

footer {
  display: flex;
  flex-direction: column;
  a:hover {
    text-decoration: underline;
  }
}

.footer__pre-footer-logo {
  background-image: url(/images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    width: 9rem;
    margin: auto;
  }
}
.footer__socials {
  display: flex;
  flex-direction: row;
  margin: 3rem auto;
  img {
    height: auto;
    width: auto;
  }
  img + img {
    margin-left: 1rem;
  }
}

.parent-list,
.attribution {
  //   border: red solid 1px;
  margin: 3rem auto 0 auto;
  width: 80vw;
  a,
  li {
    color: $v-dark-violet;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
  }
  a {
    padding-left: 5px;
  }
  li:first-of-type {
    margin: 2rem;
    color: $dark-grayish-violet;
  }
}
.parent-list {
  border-top: 1px solid rgba(131, 125, 135, 0.3);
}
.attribution {
  margin: 0 auto 2rem auto;
}
.attribution li:first-of-type {
  margin: 0;
  margin-top: 2rem;
  color: $dark-grayish-violet;
}
.attribution li {
  color: $dark-grayish-violet;
}

@media screen and (min-width: $breakpoint) {
  footer {
    background-color: $v-light-grey;
    background-image: url(/images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    background-size: calc(100vw / 2.5);
  }
  .footer__pre-footer-logo {
    flex-direction: row;
    justify-content: space-between;
    background-image: none;
    img,
    .footer__socials {
      margin: 0;
    }
  }
  .parent-list {
    display: flex;
    justify-content: space-between;
    li:first-of-type {
      margin-left: 0;
    }
  }
  .attribution {
    margin-left: 0;
  }
}
