@import "_variables.scss";

.hero__container {
  margin-bottom: 10rem;
}
.hero__image {
  width: 100%;
  img {
    width: 100%;
  }
}
.hero__text::before {
  content: "";
  position: absolute;
  left: 0;
  transform: translateY(-6rem);
  width: 50vw;
  height: 60vw;
  background-image: url(/images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
}
.hero__text::after {
  content: "";
  position: absolute;
  right: 0;
  transform: translateY(-3rem);
  width: 8rem;
  height: 30rem;
  background-image: url(/images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: $breakpoint) {
  .hero__container {
    position: relative;
  }
  .hero__image {
    position: absolute;
    transform: translateY(6rem);
    img {
      margin-left: auto;
      margin-right: 9vw;
      width: 21rem;
    }
  }
  .hero__text {
    text-align: left;
  }
  .hero__text-inner {
    width: 50%;
  }
}
@media screen and (min-width: 900px) {
  .hero__image img {
    width: 24.5rem;
  }
  .hero__img {
    transform: translateY(3rem);
  }
}
@media screen and (min-width: 1200px) {
  .hero__text-inner {
    width: 60%;
  }
}

@media screen and (min-width: $breakpoint) {
  .hero__text::before {
    width: 10rem;
    background-size: contain;
    background-image: url(/images/bg-pattern-intro-left-desktop.svg);
    transform: translateY(12.5rem);
  }
  .hero__text::after {
    width: 18rem;
    background-size: contain;
    background-image: url(/images/bg-pattern-intro-right-desktop.svg);
    top: 3rem;
  }
}
