/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
ul,
ol,
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove default stylings from buttons */
button {
  background-color: none;
  border: none;
  cursor: pointer;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav img {
  margin-right: auto;
  height: 100%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li:last-of-type {
  padding: 0;
}

.nav-links {
  display: none;
}

.nav-cta,
li {
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-cta a,
li a {
  color: #837d87;
  text-decoration: none;
}

.nav-cta a:hover,
li a:hover {
  color: black;
}

.nav-cta {
  background-color: white;
  border: solid 2px black;
  padding: 0.5rem 1.5rem;
}

.nav-cta:hover {
  -webkit-transition: 400ms;
  transition: 400ms;
  color: white;
  background-color: #2b272f;
}

.nav-links.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background: url(../images/bg-pattern-mobile-nav.svg) #2b272f no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}

.nav-links.active ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.nav-links.active li {
  margin: 1rem;
}

.nav-links.active li:last-of-type button,
.nav-links.active li a {
  font-size: 5vw;
  background-color: #2b272f;
  color: #fafafa;
}

.nav-links.active li:last-of-type button {
  border: #fafafa solid 2px;
  width: 90%;
}

.nav-open-menu {
  display: none;
}

.nav-open-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 1.5rem;
}

.nav-open-menu.active img {
  height: auto;
}

.nav-links.active ul {
  margin: 2rem auto;
}

@media screen and (min-width: 800px) {
  .hamburger {
    display: none;
  }
  .nav-links,
  .nav-cta,
  li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-links ul,
  .nav-links li,
  .nav-cta ul,
  .nav-cta li,
  li ul,
  li li {
    padding-right: 1.5rem;
  }
}

.hero__container {
  margin-bottom: 10rem;
}

.hero__image {
  width: 100%;
}

.hero__image img {
  width: 100%;
}

.hero__text::before {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transform: translateY(-6rem);
          transform: translateY(-6rem);
  width: 50vw;
  height: 60vw;
  background-image: url(/images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
}

.hero__text::after {
  content: "";
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
  width: 8rem;
  height: 30rem;
  background-image: url(/images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 800px) {
  .hero__container {
    position: relative;
  }
  .hero__image {
    position: absolute;
    -webkit-transform: translateY(6rem);
            transform: translateY(6rem);
  }
  .hero__image img {
    margin-left: auto;
    margin-right: 3rem;
    width: 21rem;
  }
  .hero__text {
    text-align: left;
  }
  .hero__text-inner {
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  .hero__image img {
    width: 24.5rem;
  }
  .hero__img {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
}

@media screen and (min-width: 1200px) {
  .hero__text-inner {
    width: 60%;
  }
}

@media screen and (min-width: 800px) {
  .hero__text::before {
    width: 10rem;
    background-size: contain;
    background-image: url(/images/bg-pattern-intro-left-desktop.svg);
    -webkit-transform: translateY(12.5rem);
            transform: translateY(12.5rem);
  }
  .hero__text::after {
    width: 18rem;
    background-size: contain;
    background-image: url(/images/bg-pattern-intro-right-desktop.svg);
    top: 3rem;
  }
}

.features__container::before {
  position: absolute;
  width: calc(100vw / 3);
  height: 0;
  content: "";
  border: 1px solid #9f96c6;
  margin: auto;
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__container h1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.features__feature-list,
.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.features__feature-list img,
.feature img {
  margin: 2rem;
}

.features__feature-list p,
.feature p {
  color: #837d87;
}

@media screen and (min-width: 800px) {
  .features__container::before {
    width: calc(100vw / 8);
  }
  .features__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .features__container h1 {
    text-align: left;
  }
  .features__feature-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }
  .feature {
    margin: 1rem 0;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .feature img {
    margin-left: 0;
  }
  .feature + .feature {
    margin-left: 1.75rem;
  }
}

.more-info__container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 8rem;
  padding: 4rem 2rem;
  background-image: url(/images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position-x: right;
}

.more-info__container h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 800px) {
  .more-info__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 4rem;
    padding-right: 4rem;
    background-image: url(/images/bg-pattern-how-we-work-desktop.svg);
  }
  .more-info__container h1 {
    margin: 0;
    margin-right: auto;
    max-width: 23rem;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer a:hover {
  text-decoration: underline;
}

.footer__pre-footer-logo {
  background-image: url(/images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__pre-footer-logo img {
  width: 9rem;
  margin: auto;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 3rem auto;
}

.footer__socials img {
  height: auto;
  width: auto;
}

.footer__socials img + img {
  margin-left: 1rem;
}

.parent-list,
.attribution {
  margin: 3rem auto 0 auto;
  width: 80vw;
}

.parent-list a,
.parent-list li,
.attribution a,
.attribution li {
  color: #2b272f;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
}

.parent-list a,
.attribution a {
  padding-left: 5px;
}

.parent-list li:first-of-type,
.attribution li:first-of-type {
  margin: 2rem;
  color: #837d87;
}

.parent-list {
  border-top: 1px solid rgba(131, 125, 135, 0.3);
}

.attribution {
  margin: 0 auto 2rem auto;
}

.attribution li:first-of-type {
  margin: 0;
  margin-top: 2rem;
  color: #837d87;
}

.attribution li {
  color: #837d87;
}

@media screen and (min-width: 800px) {
  footer {
    background-color: #fafafa;
    background-image: url(/images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    background-size: calc(100vw / 2.5);
  }
  .footer__pre-footer-logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-image: none;
  }
  .footer__pre-footer-logo img,
  .footer__pre-footer-logo .footer__socials {
    margin: 0;
  }
  .parent-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .parent-list li:first-of-type {
    margin-left: 0;
  }
  .attribution {
    margin-left: 0;
  }
}

body {
  max-width: 100vw;
  text-align: center;
  font-family: "Karla", sans-serif;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  line-height: 3.1rem;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

h2 {
  font-family: "DM Serif Display", serif;
  margin-bottom: 1rem;
}

.white-on-blue {
  background-color: #2d2640;
  color: rgba(250, 250, 250, 0.8);
  border: 2px solid rgba(250, 250, 250, 0.8);
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  position: relative;
  z-index: 5;
}

.white-on-blue:hover {
  -webkit-transition: 250ms;
  transition: 250ms;
  color: #2d2640;
  background-color: rgba(250, 250, 250, 0.8);
}

.hero__text,
.more-info__container {
  padding: 6rem 2rem;
  color: #fafafa;
  background-color: #2d2640;
}

.hero__text p,
.more-info__container p {
  opacity: 0.8;
  margin-bottom: 2rem;
}

@media screen and (min-width: 800px) {
  .features__feature-list,
  .more-info__container,
  .parent-list {
    margin-left: 0;
    margin-right: 0;
  }
  .hero__text {
    padding-left: 0;
  }
  .parent-list {
    width: 100%;
  }
  .more-info__container,
  .features__container {
    margin-left: 9vw;
    margin-right: 9vw;
  }
  footer,
  .hero__text {
    padding-left: 9vw;
    padding-right: 9vw;
  }
}

@media screen and (min-width: 800px) {
  h1,
  h2,
  body,
  li {
    text-align: left;
  }
  .white-on-blue {
    max-height: 3rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 2.4rem;
  }
}
/*# sourceMappingURL=main.css.map */