@import "_variables";
@import "_reset";
@import "_nav";
@import "_hero";
@import "_features";
@import "_more-info";
@import "_footer";

body {
  max-width: 100vw;
  text-align: center;
  font-family: "Karla", sans-serif;
}
h1 {
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  line-height: 3.1rem;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}
h2 {
  font-family: "DM Serif Display", serif;
  margin-bottom: 1rem;
}

.white-on-blue {
  background-color: $dark-violet;
  color: rgba(250, 250, 250, 0.8);
  border: 2px solid rgba(250, 250, 250, 0.8);
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  z-index: 3;
  &:hover {
    transition: 250ms;
    color: $dark-violet;
    background-color: rgba(250, 250, 250, 0.8);
  }
}
// for the blue sections in her and "more info sections
.hero__text,
.more-info__container {
  padding: 6rem 2rem;
  color: $v-light-grey;
  background-color: $dark-violet;
  p {
    opacity: 0.8;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: $breakpoint) {
  // margin reset
  .features__feature-list,
  .more-info__container,
  .parent-list {
    margin-left: 0;
    margin-right: 0;
  }
  .hero__text {
    padding-left: 0;
  }
  .parent-list {
    width: 100%;
  }
  // put margins back into the page (some will need to be via padding for bg reasons)
  .more-info__container,
  .features__container {
    margin-left: 9vw;
    margin-right: 9vw;
  }
  footer,
  .hero__text {
    padding-left: 9vw;
    padding-right: 9vw;
  }
}
@media screen and (min-width: $breakpoint) {
  h1,
  h2,
  body,
  li {
    text-align: left;
  }
  .white-on-blue {
    max-height: 3rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}
