@import "_variables";

@media screen and (min-width: $desktop-breakpoint) {
  section h2 {
    font-size: 2.4rem;
  }
  form h2 {
    font-size: 1.9rem;
  }
  header {
    padding-top: 4rem;
  }
  header img {
    height: 3rem;
  }
  nav a {
    font-size: 1rem;
    margin-left: 3rem;
  }
}
