@import "_variables";

form,
.cta-upper__left {
  display: flex;
  flex-direction: column;
}
.cta-upper__input input[type="email"] {
  width: 80%;
  margin-bottom: 1rem;
}
@media screen and (min-width: $desktop-breakpoint) {
  .cta-lower {
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    text-align: left;
  }
  .cta-lower p {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
  }
  .cta-lower button,
  .cta-lower input[type="email"] {
    margin-left: 0;
  }
  .cta-lower__input {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    input[type="email"],
    button {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
    input[type="email"] {
      width: 100%;
      max-width: 12.5rem * 2.5;
      margin-right: 0;
    }
    button {
      max-width: 12.5rem;
      margin-bottom: 0;
    }
  }
}

// REGEX CHECK
.active #email {
  // border: 3px inset solid red;
  box-shadow: inset 0px 0px 0px 2px #f00;
  position: relative;
}
.active.form__fields {
  position: relative;
}
.active.form__fields::after {
  content: "Please check your email";
  font-size: 0.75rem;
  color: red;
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 3.1rem);
  @media screen and (min-width: 950px) {
    // left: 100%;
    transform: translate(0.5rem, 3rem);
  }
}
.active.cta-lower__input.form__fields::after {
  transform: translate(-50%, -0.75rem);
}
