/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header,
.hamburger__menu {
  padding: 2.25rem 1.5rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header img,
.hamburger__menu img {
  padding-top: 0.5rem;
  position: absolute;
  width: auto;
  left: 100vw;
  -webkit-transform: translateX(calc(-50vw - 2rem)) scale(1.4);
          transform: translateX(calc(-50vw - 2rem)) scale(1.4);
}

header {
  z-index: 2;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

nav button {
  height: 2rem;
  width: 2rem;
  border: none;
  background-image: url(/images/icon-hamburger.svg);
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hamburger__menu > li button {
  background-image: url(/images/icon-close.svg);
  background-size: 75%;
  background-position: center center;
}

.hamburger__menu:not(.active) {
  display: none;
}

.hamburger__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  list-style: none;
  background-color: white;
  width: 100vw;
}

.hamburger__menu li {
  margin: auto 3vw;
}

.hamburger__menu li a {
  text-decoration: none;
  color: black;
  text-transform: lowercase;
  font-weight: bold;
  font-size: clamp(0.75rem, 4vw, 1.1rem);
}

.hamburger__menu li:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.slides__slide:not(.active) {
  display: none;
}

.slides__slide picture {
  margin-bottom: 4rem;
  position: relative;
  z-index: 0;
}

.slides__slide picture > img {
  width: 100%;
}

.active.slides__slide picture > button {
  position: absolute;
  margin: 0;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 25%;
  background-position-y: center;
  background-position-x: 45%;
  width: 5rem;
  height: 5rem;
  bottom: 0;
}

.active.slides__slide picture > button:hover, .active.slides__slide picture > button:active {
  background-color: #333333;
}

.active.slides__slide picture > button:first-of-type {
  right: 5rem;
  background-image: url(/images/icon-angle-left.svg);
}

.active.slides__slide picture > button:last-of-type {
  right: 0;
  background-image: url(/images/icon-angle-right.svg);
}

h1,
h2 {
  font-size: 2.1rem;
  margin-bottom: 1rem;
}

.slides__slide button {
  cursor: pointer;
  letter-spacing: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 4rem;
  margin-top: 3.5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.slides__slide button img {
  padding-left: 0.5rem;
  display: inline;
}

.about__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4.5rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about > img {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .slides__slide {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 6fr 4fr;
        grid-template-areas: "pic txt";
  }
  .slides__slide > picture {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: pic;
  }
  .slides__slide > picture > img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .slides__text {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: txt;
    margin-top: auto;
    margin-bottom: auto;
  }
  button.shop-now {
    margin: 0 2.5rem;
  }
  .slides__text h1 {
    font-size: 3vw;
  }
  .slides__text p {
    margin: 1.5rem 0 1.5rem 2.5rem;
    padding-right: 2vw;
  }
  .slides__slide picture {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 800px) {
  .about {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr 1fr;
        grid-template-areas: "about img1";
  }
  .about img:last-of-type {
    display: none;
  }
  .about img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about__middle {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: about;
  }
}

@media screen and (min-width: 1000px) {
  .about {
    grid-auto-columns: 30% 40% 30%;
        grid-template-areas: "img1 about img2";
  }
  .about img:first-of-type {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img1;
  }
  .about img:last-of-type {
    display: inline-block;
  }
}

* {
  font-family: "Spartan", sans-serif;
}

h1,
h2,
h3,
p,
.shop-now {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

h1 {
  font-size: clamp(1.6rem, 6vw, 2rem);
}

h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

p {
  color: #a1a1a1;
  line-height: 1.75rem;
}
/*# sourceMappingURL=main.css.map */