@import "reset";
@import "variables";
@import "nav";
@import "slides";
@import "about";

:root {
  font-size: 12px;
}

* {
  font-family: "Spartan", sans-serif;
}

h1,
h2,
h3,
p,
.shop-now {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
p {
  color: $dark-gray;
  line-height: 1.75rem;
}
