/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  color: #494c5f;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 100vw;
  background-color: #f6f6fe;
  background-image: url("/images/bg-top.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-position-x: 50vw;
  background-position-y: -10vh;
  background-size: 80%;
}

@media screen and (min-width: 1000px) {
  body {
    background-image: url("/images/bg-top.svg"), url("/images/bg-bottom.svg");
    background-position: top right, bottom left;
    background-size: 25%;
  }
}

.outer-container {
  width: 100%;
  padding: 1rem;
}

h1 {
  margin: 1.5rem;
  font-size: 1.5rem;
  color: #6d708d;
}

.toggle {
  margin-bottom: 4rem;
  color: #b3b5c6;
  font-size: 0.8rem;
}

.pricing-plan-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1000px) {
  .pricing-plan-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.plan {
  margin: 1rem;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 25rem;
  background-color: white;
  -webkit-box-shadow: 30px 30px 50px -30px rgba(163, 168, 240, 0.5);
          box-shadow: 30px 30px 50px -30px rgba(163, 168, 240, 0.5);
}

@media screen and (min-width: 1000px) {
  .plan {
    margin: auto 0;
  }
}

.plan__price--monthly {
  margin: 0.5rem;
  font-size: 3.5rem;
}

.plan__price--monthly span {
  font-size: 2rem;
  display: inline-block;
  -webkit-transform: translateY(-0.25em) translateX(-5px);
          transform: translateY(-0.25em) translateX(-5px);
}

.plan__price--annual {
  display: none;
}

.plan__features {
  margin-bottom: 1.5rem;
}

.plan__features li {
  border-top: 2px solid rgba(109, 112, 141, 0.15);
  border-bottom: 2px solid rgba(109, 112, 141, 0.15);
  padding: 1rem 0;
}

.plan__features li + li {
  border-top: none;
}

.plan__btn {
  width: 100%;
  margin-top: 1em;
  padding: 1rem 0;
  border: none;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(#a3a8f0, #696fdd);
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
}

.plan__btn:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.plan:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(#a3a8f0, #696fdd);
  color: white;
}

.plan:nth-child(2) .plan__btn {
  background-image: none;
  background-color: white;
  color: #696fdd;
}

.plan:nth-child(2) .plan__features li {
  border-top: 2px solid rgba(246, 246, 254, 0.15);
  border-bottom: 2px solid rgba(246, 246, 254, 0.15);
  padding: 1rem 0;
}

.plan:nth-child(2) .plan__features li + li {
  border-top: none;
}

@media screen and (min-width: 1000px) {
  .plan:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    margin-top: -1.5em;
    margin-bottom: -1.5em;
  }
  .plan:nth-child(2) .plan__header {
    margin-top: auto;
  }
  .plan:nth-child(2) .plan__btn {
    margin-bottom: auto;
  }
  .plan:first-child {
    margin-right: -0.5rem;
  }
  .plan:nth-child(3) {
    margin-left: -0.5rem;
    z-index: -1;
  }
}

.attribution {
  margin: auto auto 2em auto;
  text-align: center;
  font-size: 0.9rem;
}

.attribution ul li {
  padding: 0 2em;
  display: inline-block;
}

.attribution ul li a {
  color: #696fdd;
}
/*# sourceMappingURL=main.css.map */