$desktop-breakpoint: 1000px;
$gradient: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$v-light-gray-blue: hsl(240, 78%, 98%);
$light-gray-blue: hsl(234, 14%, 74%);
$gray-blue: hsl(233, 13%, 49%);
$dark-gray-blue: hsl(232, 13%, 33%);

.toggle {
  margin-bottom: 3rem;
  color: $light-gray-blue;
  font-size: 0.8rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $desktop-breakpoint) {
    padding-bottom: 3rem;
    margin-bottom: auto;
  }
}

.toggle p {
  padding: 0 1rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: $gradient;
  transition: 0.25s;
  border-radius: 35px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.25s;
  border-radius: 50%;
}

input:checked + .slider::before {
  transform: translateX(26px);
}
