@import "_variables";
@import "fontawesome/fontawesome.scss";
@import "./fontawesome/brands.scss";

// NEEDED TO CALCULATE CTA / FOOTER OVERLAP
$footer-overlap: 9rem;

.cta__container {
  transform: translateY($footer-overlap);
  margin-top: $footer-overlap * -1;
}

footer {
  padding: 2rem;
  background-color: $dark-blue-footer;
  padding-top: $footer-overlap + 2rem;

  img {
    padding: 2rem 1rem 2rem 1rem;
  }
  ul {
    margin-bottom: 2rem;
    li {
      padding-bottom: 1rem;
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          color: $cyan;
          transition: 250ms;
        }
      }
    }
  }
  ul:first-of-type:not(.attribution) {
    a {
      margin-left: 1rem;
    }
    li:nth-child(1) {
      list-style: url(/images/icon-location.svg);
      margin-left: 1.4rem;
      text-indent: -1rem;
      padding-left: 1.1rem;
    }
    li:nth-child(2) {
      list-style: url(/images/icon-phone.svg);
      margin-left: 1.5rem;
    }
    li:nth-child(3) {
      list-style: url(/images/icon-email.svg);
      margin-left: 1.5rem;
      margin-bottom: 4rem;
    }
  }
  ul:last-of-type:not(.attribution) {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    button {
      cursor: pointer;
      color: $white;
      background-color: rgba($color: #000000, $alpha: 0);
      border-radius: 9999px;
      border: 1px solid $white;
      width: 2rem;
      height: 2rem;
      display: flex;
      position: relative;
      i,
      i::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-left: 1px;
        padding-bottom: 1px;
        font-size: 1.25rem;
      }
      &:hover {
        transition: 400ms;
        background-color: rgba($color: #fff, $alpha: 1);
        color: $dark-blue-bg;
      }
    }
  }
}
