@import "_variables";

footer {
  padding: 2rem;
  img {
    padding: 2rem 1rem 2rem 1rem;
  }
  ul {
    margin-bottom: 2rem;
    li {
      padding-bottom: 1rem;
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          color: $cyan;
          transition: 250ms;
        }
      }
    }
  }
  ul:first-of-type {
    a {
      margin-left: 1rem;
    }
    li:nth-child(1) {
      list-style: url(/images/icon-location.svg);
      margin-left: 1.4rem;
      text-indent: -1rem;
      padding-left: 1.1rem;
    }
    li:nth-child(2) {
      list-style: url(/images/icon-phone.svg);
      margin-left: 1.5rem;
    }
    li:nth-child(3) {
      list-style: url(/images/icon-email.svg);
      margin-left: 1.5rem;
      margin-bottom: 4rem;
    }
  }
}
