@import "_variables";

.cta__container {
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: $dark-blue-intro;

  form {
    display: flex;
    flex-direction: column;

    input {
      padding: 1rem;
      border-radius: 500px;
      border: none;
      margin-bottom: 2rem;
    }
    input::-webkit-input-placeholder {
      color: rgba($color: #000, $alpha: 0.3);
    }
    input[type="email"] {
      margin-top: 2rem;
      text-indent: 1rem;
    }
    input[type="button"] {
      background: linear-gradient(90deg, $cyan, $blue);
      margin-bottom: 1rem;
      font-weight: bolder;
      color: white;
    }
  }
}
