$background-dark: hsl(226, 43%, 10%);
$white: hsl(0, 0%, 100%);
$light-purple: hsl(235, 100%, 87%);
$dark-purple: hsl(235, 46%, 20%);
$header-purple: hsl(235, 80%, 60%);

// Card colours
$work: hsl(15, 100%, 70%);
$play: hsl(195, 74%, 62%);
$study: hsl(348, 100%, 68%);
$exercise: hsl(145, 58%, 55%);
$social: hsl(264, 64%, 52%);
$self-care: hsl(43, 84%, 65%);
